.navbar {
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgb(28, 36, 68);
    display:flex;
    border-radius: 10px;
}

body{
    background-image: url(./images/wallpaper-TechnoTour.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar a {
    border-radius: 10px;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: rgb(38, 48, 90);
}
#pre{
    padding-top: 100px;
    color: white;
    font-size: 20px;
    font-weight: 200;
}